{% load static %}
<form action = ''>
    <div class="img-login">
        <img src="{% static 'img/Logo-Seduc-Colorido-6c91.svg' %}" alt="Logo Seduc Goiás">

    </div>
    <div class="login">
        <div class="username">
            <input type="text" placeholder=" Insira seu usuário" id="username" name="username" required>
        </div>
        <div class="password">
            <input type="password" placeholder=" Insira sua senha" id="password" name="password" required>
        </div>
        <div class="entrar">
            <button>Entrar</button>
        </div>
    </div>
</form>